*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.conteudo{
    width: 414px;
    position: relative;
}
.topo{
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alinhamento-topo{
   width: 414px;
   height: 92px;
}
.alinhamento-topo :nth-child(1){
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Righteous';
    font-size:44px;
    font-weight: 400;
}
.alinhamento-topo :nth-child(2){
    padding-left: 20px;
    font-family: 'Roboto';
    font-size:18;
    padding-top: 3px;
}
.cardapio{
    height: auto;
    width: 100%;
    background-color: #E5E5E5;
    padding-top: 92px;
    padding-bottom: 92px;
}
.cardapio .texto-opcao{
    font-family: 'Righteous';
    color:#333333;
    font-size: 26px;
    font-weight: 400;
    padding-left: 20px;
    width: 100%;
}
.cardapio .texto-opcao1{
    font-family: 'Righteous';
    color:#333333;
    font-size: 26px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
}
.opcoes{
    padding-top: 17px;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 15px;
    width: 100%;
}
.opcao{
    width: 172px;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 8px;
    padding: 14px;
    font-family: 'Roboto';
    margin-left: 15px;
    font-size: 16px;
}
.opcao img{
    width: 144px;
    height: 87px;
    border-radius: 5px;
}
.opcao :nth-child(2){
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #333333;
}
.opcao :nth-child(3){
    color:#A6A6A6;
    font-weight: 400;
    line-height: 18px;
    font-size: 15px;
}
.opcao :nth-child(4){
    padding-top: 2px;
    font-weight: 400;
    height: 24px;
    display: flex;
    align-items: center;
}
.opcao ion-icon{
    display: none;
}
.fundo{
    height: 92px;
    width: 100%;
    background-color:#FFFFFF;;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
}
.fundo > button{
    width: 364px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 26.5px;
    background-color: #CBCBCB;
}
.fundo > button :nth-child(1){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    color: #FFFFFF;
}
.box-escolhido{
    box-shadow: 0 0 0 4px rgb(50,183,47);
}
.box-escolhido ion-icon{
    display: inline-flex;
    padding-left: 70px;
    height: 100%;
    font-size: 100%;
    color: rgb(50,183,47);
}
.esconder{
    display: none;
}
@media(max-width:414px){
    .conteudo{
        width:100%
    }
    .cardapio{
        width: 100%;
    }
    .alinhamento-topo{
        width: 100%;
    }
    
}
